section.processes {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

section.processes .left h2 {
  font-family: 'Playfair', serif;
  text-transform: uppercase;
}

section.processes .left p {
  font-size: 11pt;
  width: 80%;
  margin-top: 20px;
  padding-left: 5px;
}

section.processes .left .img_wrapper {
  width: 80%;
  height: 80vh;
  border-radius: 30px;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}

section.processes .left .img_wrapper img {
  object-fit: cover;
  width: 100%;
  height: 180%;
  position: absolute;
  top: 40%;
  left: 0;
}

section.processes .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
}

section.processes .right .process {
  opacity: 0.3;
  transition: 0.5s;
  display: grid;
  gap: 30px;
  grid-template-columns: 40px 1fr;
}

section.processes .right .process.active {
  opacity: 1;
}

section.processes .right .process .number {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #b7b7b7;
  color: #ffffff;
  transition: 0.5s;
}

section.processes .right .process.active .number {
  background-color: var(--dourado);
}

section.processes .right .process .text_container {
  padding-top: 10px;
}

section.processes .right .process .text_container .title {
  font-weight: 500;
  margin-bottom: 10px;
}

section.processes .right .process .text_container .description {
  font-size: 11pt;
}
