section.hero {
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.hero .left {
  width: 60%;
}

section.hero .right {
  width: 40%;
  background-color: rgb(201, 201, 201);
  height: 100%;
}

section.hero .left .empresas_container {
  background-color: #fff4e0df;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: fit-content;
  padding-right: 30px;
  margin-left: -5px;
}

section.hero .left .empresas_container img {
  height: 30px;
}

section.hero .left .empresas_container p {
  color: #9c7434;
  font-size: 11pt;
  margin-top: 2px;
}

section.hero .left h1.title {
  text-transform: uppercase;
  font-size: 38pt;
  line-height: 60px;
}

section.hero .left h1.title .char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

section.hero .left h1.title .char span {
  font-family: 'Playfair', serif;
  transform: translateY(100%);
  display: inline-block;
}
