.footer {
  background-color: #0a0a0a; /* Tom de preto profundo */
  color: #fff;
  padding: 80px 100px 30px 100px;
  border-top: 1px solid rgba(212, 175, 55, 0.1);
}

.footer_container {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer_container .footer_brand .footer_socials {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.footer_container .footer_brand .footer_socials a {
  display: flex;
  align-items: center;
  color: var(--branco);
  transition: 0.3s;
  width: fit-content;
}

.footer_container .footer_brand .footer_socials a span {
  font-weight: 300;
  margin-left: 5px;
}

.footer_container .footer_brand .footer_socials a:hover {
  color: var(--dourado);
}

/* Coluna da Marca */
.footer_logo {
  width: 150px;
  margin-bottom: 25px;
  filter: brightness(0) invert(1); /* Se a logo for preta, inverte para branco */
}

.footer_bio {
  font-size: 0.95rem;
  color: #aaa;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Navegação */
.footer_nav h4,
.footer_contact h4 {
  font-size: 1.2rem;
  color: var(--dourado);
  margin-bottom: 15px;
}

.footer_contact p {
  color: #aaa;
  margin-bottom: 25px;
  font-size: 11pt;
}

.footer_nav ul {
  list-style: none;
  padding: 0;
}

.footer_nav ul li {
  margin-bottom: 12px;
  font-size: 11pt;
}

.footer_nav ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer_nav ul li a:hover {
  color: var(--dourado);
  padding-left: 5px;
}

/* Contato e CTA */
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  font-weight: 500;
  font-weight: 300;
  font-size: 11pt;
}

.footer_cta {
  background-color: var(--dourado);
  color: #000;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.footer_cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(212, 175, 55, 0.3);
}

/* Bottom */
.footer_bottom {
  margin-top: 80px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: #666;
}

.footer_legal a {
  margin-left: 20px;
  color: #666;
  text-decoration: none;
}

/* Responsivo */
@media (max-width: 900px) {
  .footer_container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer {
    padding: 60px 40px 30px 40px;
  }
}
