@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

:root {
  --branco: #f2f2f2;
  --preto: #181818;
  --dourado: #ebc891;
  --dourado-down-2: #714500;
  --dourado-down-1: #9c7434;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.3;
}

p {
  font-size: 1.125rem;
  line-height: 1.25;
}

body {
  background-color: #f2f2f2;
  color: #0f0f0f;
}

section {
  position: relative;
  width: 100%;
}
