header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 13px;
  transition: 0.5s;
  backdrop-filter: blur(5px);
  background-color: var(--branco);
}

header .logo {
  height: 100%;
}

header ul {
  display: flex;
  list-style: none;
  gap: 2px;
}

header ul li {
  padding: 20px 15px;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 500;
}
