h2.frase {
  margin: auto;
  font-size: 28pt;
  text-align: center;
  font-weight: 400;
  margin: 20vh auto;
  padding: 15vh 0;
}

h2.frase .char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

h2.frase .char span {
  transform: translateY(100%);
  display: inline-block;
  will-change: transform;
}
