nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  padding: 0 80px;
}

nav > * {
  flex: 1;
}

nav .logo {
  font-family: "Cinzel Decorative", serif;
  color: #ffffff;
}

nav .logo span {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 2px;
  list-style: none;
}

nav ul li {
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff;
}

nav .button_container {
  display: flex;
  justify-content: end;
}
